* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0%;
}
body {
  margin: auto;
  /* color: #ffffff; */
  background-color: #f5f5f5;
}
.nav {
  height: 70px;
  box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.19);
  /* background-color: #918e9b; */
  background-color: rgba(241, 241, 241, 0.897);
}

.nav-item {
  padding: 20px 36px;
  /* max-width: 100%; */
  margin: 0 auto;
}
.nav-logo {
  display: block;
  margin: auto;
}
.top {
  max-width: 1200px;
  margin: 0 auto;
  /* max-width: 500px; */
  display: flex;
  flex-direction: column;
  padding: 2rem 36px;
}
.img {
  width: 100%;
  /* max-width: 500px; */
  display: block;
  align-self: center;
}
.top-text {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.top-header {
  /* max-width: 347px; */
  /* margin: 0; */
  padding: 1.5rem 0 0.5rem;
  font-weight: 600;
  font-size: 4rem;
  line-height: 1;
}

.top-text-1 {
  max-width: 850px;
  /* margin: 0; */
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.2;
  /* text-align: center; */
}
.cards {
  max-width: 1200px;
  display: flex;
  overflow-x: scroll;
  margin: 0 auto;
  gap: 2em;
  padding: 0rem 0px 0 36px;
}

.main1 {
  margin: 0 auto 0;
  position: relative;
}
.main-img1 {
  max-width: 11em;
  /* width: 100%; */
  border-radius: 10px;
}
.main-img-text1 {
  /* width: 100%; */
  max-width: 11em;
  display: flex;
  flex-direction: column;
  padding: 0%;
  /* flex-wrap: wrap; */
  font-size: 0.75em;
}
.main-img-text1 > p {
  margin: 0;
  /* width: 100%; */
}
.bggh {
  display: flex;
  flex-direction: row;
  padding: 0%;
  margin: 0%;
}
.img-review > p {
  margin: 0%;
}
.img-review > p > span {
  color: #918e9b;
}
.flag {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  background-color: #ffffff;
  /* color: #fff; */
  border-radius: 5px;
  padding: 0.1em;
  font-size: 0.64em;
  font-weight: bold;
}
